h1{
    color:dodgerblue;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: blue;
    padding: 50px;
    border: 25px solid rebeccapurple;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
